# Approximates Epic's standard Unreal Engine C++ coding style.
Language: Cpp
BasedOnStyle: Microsoft
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: None
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SortIncludes: false
PointerAlignment: Left
ReferenceAlignment: Left
